# Byte-compiled / cache Python
__pycache__/
*.py[cod]
*$py.class
*.pyc 

# Environnements virtuels
.env
.venv
env/
venv/

# Fichiers de build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Checkpoints (modèles lourds)
# checkpoints/
*.pt
*.pth

# Dossiers externes (datasets, deps non versionnées)
# external/ 
# Depth-Anything-V2/
# sam3/
data/
datasets/
outputs/
output_release/
grapes/
ablation_study_files/
results

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


README_old.md
README_presqbon.md
ftveg_napari_dependences.txt
test.py
requirements.txt
